body {
  display: flex;
  width: 80vw;
  margin: 2rem auto;
}

nav {
  position: sticky;
  top: 2rem;
  align-self: flex-start; /* necessary for sticky */
  margin-right: 2rem;
}

main {}

textarea {
  width: 100%;
  height: 6rem;
}

pre {
  white-space: pre-wrap;
}

#responses > li {
  margin: 0.5rem 0;
  padding: 0.1rem;
  cursor: pointer
}

li.current {
  /*background: yellow;*/
  font-weight: bold;
}

li.current::after {
  content: " >";
}
