body {
  display: flex;
  width: 80vw;
  margin: 2rem auto;
}

nav {
  position: sticky;
  top: 2rem;
  align-self: flex-start; /* necessary for sticky */
  margin-right: 2rem;
}

main {}

main textarea {
  width: 100%;
  height: 6rem;
}

main pre {
  white-space: pre-wrap;
}

#responses > li {
  margin: 0.5rem 0;
  padding: 0.1rem;
  cursor: pointer
}

nav li.current {
  font-weight: bold;
}

nav li.current::after {
  content: "\00A0>";
}

.highlight {
  background: yellow;
  padding: 0.3rem 0;
}
